<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:include="components/header :: header">
<!-- head -->
<body>
	<!-- nav -->
<head th:include="components/nav :: nav">
<!-- nav -->
<div class="row">
	<!-- left menu -->
	<div class="col-sm-3 col-md-2 sidebar">
		<div th:replace="components/leftmenu :: leftmenu"></div>
	</div>
	<form action="/webmanage/data/mobile/toMobileTaskDetail" method="post"
		id="taskForm">
		<input name="taskidSearch" id="taskidSearch" style="display: none" />

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h3 class="page-header">微服务监控信息维护</h3>
			<div class="row"
				style="text-align: right; margin-right: 0; margin-bottom: 15px;">
				<input type="text" id="appname_search" name="appname_search" class="form-control"
					placeholder="请输入微服务名称" style="display: inline-block; width: 20%;">
				<input type="text" id="developer_search" name="developer_search"
					class="form-control" placeholder="请输入负责人姓名"
					style="display: inline-block; width: 20%;">
				<button type="button" class="btn btn-primary" id="search"
					style="margin-left: 15px;">搜索</button>
				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#addModal" data-whatever="@mdo" id="addM">添加监控项</button>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">
					<b>任务项列表</b>
				</div>
				<div class="panel-body view-table-container">
					<table
						class="table table-bordered table-hover table-striped view-table">
						<thead>
							<tr>
								<th class="view-th">序号</th>
								<th class="view-th">微服务名称</th>
								<th class="view-th">负责人</th>
								<th class="view-th">应部节点数</th>
								<th class="view-th">监控状态</th>
								<th class="view-th">操作</th>
							</tr>
						</thead>
						<tbody>
							<!--  -->
						</tbody>
					</table>
				</div>
				<div id="page" style="margin-left: 15%"></div>
			</div>
		</div>
	</form>
</div>
<!-- removeModal -->
<div class="modal fade" id="removeModalDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="removeModal">删除监控项</h4>
	      </div>
	      <div class="modal-body" id="delete">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-danger" id="removeConsumer">删除</button>
	      </div>
	    </div>
	  </div>
	</div>	
	</div>
<!-- addModal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="authform">
					<div class="form-group">
						<label for="id" class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<input type="hidden" class="form-control" id="id" name="id">
						</div>
					</div>
					<div class="form-group">
						<label for="appname" class="col-sm-2 control-label">微服务名称:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="appname"
								placeholder="请输入微服务名称" name="appname">
						</div>
					</div>
					<div class="form-group">
						<label for="developer" class="col-sm-2 control-label">负责人:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="developer"
								placeholder="请输入负责人" name="developer">
						</div>
					</div>
					<div class="form-group">
						<label for="instancecount" class="col-sm-2 control-label">应部节点数:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="instancecount"
								placeholder="请输入应部节点数" name="instancecount">
						</div>
					</div>
					<div class="form-group">
						<label for="getType" class="col-sm-2 control-label">监控状态:</label>
						<div style="float: left; width: 80%;">
							<div class="checkbox-inline" style="margin-left: 10px;">
								<input type="radio" id="monitor" name="isneedmonitor" value="1" checked="true" >监控
							</div>
							<div class="checkbox-inline">
								<input type="radio" id="tempNotMonotor" name="isneedmonitor"
									value="0">暂不监控
							</div>
							<div class="col-sm-10">
								<h6 style="">温馨提示：默认为监控状态</h6>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button class="btn btn-primary" id="addItem" type="submit">提交</button>
			</div>
		</div>
	</div>
</div>

</div>
<head th:include="components/footer :: footer">
</body>
<script th:src="@{/js/eurekalist.js}"></script>
<script th:src="@{/js/common.js}"></script>
</html>
