<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="components/header :: header">
</head>
<body>

<div th:replace="components/topart :: topart"></div>
<style type="text/css">
    #container {
        min-width: 310px;
        max-width: 800px;
        height: 400px;
        margin: 0 auto
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

            <div th:replace="components/leftmenu_datasearch :: leftmenu"></div>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">数据中心说明</h1>
            <div class="panel panel-danger">
                <div class="panel-heading">基本功能</div>
                <div class="panel-body">数据的界面化展示功能<br/>
                </div>
            </div>

        </div>

    </div>
</div>

<div th:include="components/footer :: footer"></div>

</body>
</html>