<header th:fragment="nav">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand"
					th:href="@{/index}">曦点数据-自动化监控任务管理平台</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/tasker/eureka-info}">系统监控</a></li> 
					<li><a th:href="@{/}">租户管理</a></li>
					<li><a th:href="@{/}">试用客户管理</a></li>
					<li><a th:href="@{/logout}">退出</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>