<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:include="components/header :: header">

</head>

<!--<script th:src="@{../js/xx.js}"></script>-->
<body>
<nav class="navbar navbar-default alert-info" style="height: 50px;">
    <div class="container-fluid">
        <div class="navbar-header" style="height: 50px;">
            <a href="javascript:history.go(-1);" class="navbar-brand">
                <span aria-hidden="true" style="color: white;font-weight:900">
                   <
                </span>
            </a>
            <p class="navbar-brand" ><span>运营商认证</span></p>
        </div>
    </div>

</nav>

<div id="br"></div>
<div class="container">
    <form class="bs-example-form" data-example-id="simple-input-groups" method="post" id="authform" >
        <div class="input-group input-group-lg">
            <input type="hidden" name="themeColor" id="themeColor" th:value="${mobileJsonBean.themeColor}"/>
            <input type="hidden" th:value="${topHide}" id="topHide" name="topHide"/>
            <input type="hidden" th:value="${key}" id="key" name="key"/>
            <input type="hidden" th:value="${redirectUrl}" id="redirectUrl" name="redirectUrl"/>
            <input type="hidden" name="user_id" id="id" th:value="${mobileJsonBean.id}"/>
            <input type="hidden" name="task_id" id="task_id" th:value="${mobileJsonBean.task_id}"/>
            <input type="hidden" name="mobileOperator" th:value="${mobileJsonBean.mobileOperator}"/>
            <input type="hidden" name="owner" id="owner" th:value="${mobileJsonBean.owner}"/>
            <input type="hidden" th:value="${appActive}" id="appActive">
            <input type="hidden" name="province" id="province"/>
            <span class="input-group-addon" id="basic-addon2">手<zw style="visibility: hidden">z</zw>机<zw style="visibility: hidden">y</zw>号：</span> <!--<input
                type="text" class="form-control" id="name" name="name"
                aria-describedby="basic-addon2" th:value="${mobileJsonBean.mobileNum}" readonly="readonly"/>-->
            <span  class="form-control"
                   aria-describedby="basic-addon2" th:text="${mobileJsonBean.mobileNum}"></span>
            <input type="hidden" name="name" id="name" th:value="${mobileJsonBean.mobileNum}"/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon3">服务密码：</span> <input
                type="password" class="form-control" id="password" name="password" th:placeholder="请输入服务密码"
                aria-describedby="basic-addon3" autocomplete="off" />
        </div>
        <!--<button type="button" class="btn btn-lg btn-block btn-info" data-toggle="modal"
                id="nextBtn">下一步</button>-->
        <a href="#" class="btn btn-lg btn-block btn-info disabled" role="button" id="nextBtn">下一步</a>

        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             data-backdrop="static" data-keyboard="false" id="myModal" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class=" modal-content" style="text-align: center;">
                    <div class="modal-body">
                        <img th:src="@{/h5/carrier/images/loading.gif}" height="auto" />&nbsp;<span id="message"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="prompt" style="text-align: center;padding-top: 5px;">
            <small class="form-text text-muted">
                忘记运营商密码？<a href="#" id="forgetPwdBtn">点这里</a>
            </small>
        </div>
        <div class="prompt" id="prompt">
            <!--<small class="form-text text-muted">温馨提示：<br />
                    *目前电信仅支持黑龙江电信，其他地区电信正在开发中。<br />
                    *甘肃省电信：由于甘肃省电信网站不让频繁点击，所以爬取时间比较长，请耐心等待
            </small>-->
        </div>
    </form>

    <!--消息框-->
    <div th:include="components/footer :: message"></div>
    <!--爬取成功模块-->
    <div th:include="components/footer :: modal"></div>
</div>

<div th:include="components/footer :: footer"></div>

<script th:src="@{/h5/carrier/js/telecom_auth.js}"></script>
<script th:src="@{/h5/carrier/js/telecom_crawler.js}"></script>
</body>

</html>