<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:include="components/header :: header">

</head>

<!--<script th:src="@{../js/xx.js}"></script>display: none;display: block-->
<body>
<nav class="navbar navbar-default alert-info" style="height: 50px;">
    <div class="container-fluid">
        <div class="navbar-header" style="height: 50px;">
            <a href="javascript:history.go(-1);" class="navbar-brand"><span
                    class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <p class="navbar-brand" ><span th:text="${city} + '社保'"></span></p>
        </div>
    </div>
</nav>
<div id="br"></div>
<div class="container">
    <form class="bs-example-form" data-example-id="simple-input-groups"  method="post"
          id="authform">
        <!--<input type="hidden" th:value="${themeColor}" id="themeColor" name="themeColor"/>
        <input type="hidden" th:value="${topHide}" id="topHide" name="topHide"/>-->
        <!--隐藏域-->
        <input type="hidden" id="themeColor" name="themeColor" th:value="${themeColor}"/>
        <input type="hidden" id="topHide" name="topHide" value="false" th:value="${topHide}"/>
        <input type="hidden" id="taskId" name="taskId"  th:value="${taskId}"/>
        <input type="hidden" id="city" name="city"  th:value="${city}"/>

        <div class="input-group input-group-lg">
            <span class="input-group-addon">身份证号：</span> <input
                type="text" class="form-control" id="username" name="username"
                th:placeholder="请输入身份证号"
                data-validation="required" autocomplete="off"/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">密<zw style="visibility: hidden">占位</zw>码：</span> <input
                type="password" class="form-control" id="password" name="password"
                th:placeholder="请输入密码" autocomplete="off"/>
            <div class="tex_box"><span class="password closed"></span></div>
        </div>
        <!--<button type="submit" class="btn btn-lg btn-block btn-info">下一步</button>-->
        <a href="#" class="btn btn-lg btn-block btn-info disabled" role="button" id="nextBtn">下一步</a>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             data-backdrop="static" data-keyboard="false" id="myModal" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class=" modal-content" style="text-align: center;">
                    <div class="modal-body">
                        <img th:src="@{/h5/insur/images/loading.gif}" height="auto" />&nbsp;<span id="message"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="prompt">
            <small class="form-text text-muted">温馨提示：<br />
                1、个人登录帐号是个人身份证，2014年以后新参保的用户的密码是个人社保号，2014年以前参保的用户的密码沿用旧网办密码。(如果一直没修改过密码的，初始密码是10位数字的个人社保号，社保号不足10 位的，前面加1，中间补0，例如原社保号为“3467368”的对应密码应该为“1003467368”)。<br/>
                2、单位登录帐号是单位编号，第一次使用的单位，可通过“忘记密码”功能，按照操作提示自行获取系统密码也可携带相关资料到各区社保前台获取登陆密码（携带的资料详见登陆操作指引）。<br/>
                3、第一次登录本系统的用户，在登录后系统会要求补充手机号码和邮箱等信息，同时要求修改密码，请按照提示进行操作。<br/>
                4、一天内输错6次密码，账号会被冻结，第二天0点将自动取消冻结。<br/>
                5、一天只能5次爬取机会。
            </small>
        </div>
    </form>
    <!--消息框-->
    <div th:include="components/footer :: message"></div>
    <!--爬取成功模块-->
    <div th:include="components/footer :: modal"></div>
</div>
<div th:include="components/footer :: footer"></div>
<script src="/h5/insur/js/auth_guangzhou.js"></script>
<script src="/h5/insur/js/insurance_crawler.js"></script>
</body>
</html>