<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:include="components/header :: header">
</head>
<!--<script th:src="@{../js/xx.js}"></script>display: none;display: block-->
<body>
<nav class="navbar navbar-default alert-info" style="height: 44px;margin-bottom: 0">
    <div class="container-fluid">
        <div class="navbar-header" style="height: 44px;">
            <a href="javascript:history.go(-1);" class="navbar-brand"><span
                    class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <p class="navbar-brand" ><span>苏宁登录</span></p>
        </div>
    </div>
</nav>
<div id="br"></div>
<div class="container">
    <form class="bs-example-form" data-example-id="simple-input-groups" action="/h5/insur/citys" method="get"
            id="authform">
        <input type="hidden" th:value="${themeColor}" id="themeColor" name="themeColor"/>
        <input type="hidden" th:value="${topHide}" id="topHide" name="topHide"/>
        <input type="hidden" th:value="${e_CommerceTask.taskid}" id="taskid" name="taskid"/>
        <input type="hidden" value="sn_num" id="logintype" name="logintype"/>
        <span  th:text="${appActive}"  id="appActive"/>

        <ul id="myTab" class="nav nav-tabs  nav-page">
            <li class="active">
                <a href="#sn_num" data-toggle="tab" aria-expanded="false">账号密码</a>
            </li>
            <li><a href="#sn_phone" data-toggle="tab" aria-expanded="true">
                短信验证码</a>
            </li>
        </ul>
        <div id="sn_num"  class="active fade in">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="basic-addon1">账户名：</span> <input
                    type="text" class="form-control" id="username" name="username"
                    placeholder="请输入邮箱/用户名/已验证手机号"
                    data-validation="required" autocomplete="off"/>
                <div class="tex_box"><span class="textt"></span></div>
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="basic-addon3">密码：</span> <input
                    type="password" class="form-control"  id="passwd" name="passwd"
                    placeholder="请输入密码" autocomplete="off"/>
                <div class="tex_box"><span class="password closed"></span></div>
            </div>
            <div class="prompt">
                <!--<small class="form-text text-muted">温馨提示：<br />
                </small>-->
            </div>
        </div>
        <div id="sn_phone" class="fade">
            <div class="input-group input-group-lg">
               <input type="text" class="form-control" id="username1" name="username"
                    placeholder="请输入手机号"
                    data-validation="required" autocomplete="off"/>
                <span>
                  <button class="btn btn-lg btn-block btn-info disabled" id="sendCodeBtn" type="button">点击发送</button>
                </span>
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">短信验证码：</span>
                <input type="text" class="form-control" id="verfiySMS" name="verfiySMS" placeholder="请输入短信验证码"  autocomplete="off">
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-block btn-info disabled" role="button" id="nextBtn">下一步</a>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             data-backdrop="static" data-keyboard="false" id="myModal" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class=" modal-content" style="text-align: center;">
                    <div class="modal-body">
                        <img th:src="@{/h5/sn/images/loading.gif}" height="auto" />&nbsp;<span id="message"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--消息框-->
    <div th:include="components/footer :: message"></div>
    <!--爬取成功模块-->
    <div th:include="components/footer :: modal"></div>
</div>
<div th:include="components/footer :: footer"></div>
</body>
<script src="/h5/sn/js/sn_login.js"></script>
</html>