<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="components/header :: header">
</head>
<body>

	<div th:replace="components/topart :: topart"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				
				<div th:replace="components/leftmenu :: leftmenu"></div>
				
			</div>
			
			<form action="/apitest/cmcc" method="post">
				<input type="hidden" name="module" th:value="${module}" />
				
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h2 class="page-header">API测试</h2>
					
					<div class="well">
						<h3>获取中国移动数据爬取结果</h3>
						<table class="table table-bordered table-hover">
							<tbody>
								<tr>
									<td>接口描述</td>
									<td>根据TaskId获取账单</td>
								</tr>
								<tr>
									<td>接口类型</td>
									<td>GET</td>
								</tr>
								<tr>
									<td>URL</td>
									<td>http://10.167.202.192:1234/carrier/apitest/cmcc/result/{taskId}</td>
								</tr>
								<tr>
									<td>备注</td>
									<td>根据TaskId获取爬取结果</td>
								</tr>
							</tbody>
						</table>
						
						<p>
							<input type="text" id="taskId" class="form-control" placeholder="请输入TaskId" />
						</p>
						
						<button type="button" class="btn btn-primary" onclick="invokeCmccApiTest();">接口调用</button> 
					</div>
					
					<div class="panel panel-success">
						<div class="panel-heading">
							<b>用户信息</b>
						</div>
						<div class="panel-body view-table-container pre-scrollable">
							<table class="table table-bordered table-hover table-striped view-table">
							<thead>
								<tr>
									<th class="view-th">序号</th>
									<th class="view-th">用户姓名</th>
									<!-- <th class="view-th">brand</th>
									<th class="view-th">level</th>
									<th class="view-th">status</th> -->
									<th class="view-th">注册时间</th>
									<th class="view-th">邮箱</th>
									<th class="view-th">家庭住址</th>
									<th class="view-th">邮编</th>
									<th class="view-th">手机号</th>
									<th class="view-th">星级</th>
									<!-- <th class="view-th">starScore</th>
									<th class="view-th">starTime</th> -->
									<th class="view-th">是否实名认证</th>
									<th class="view-th">是否是vip</th>
									<th class="view-th">积分</th>
									<th class="view-th">可用余额</th>
									<th class="view-th">账户总余额</th>
									<th class="view-th">实时话费</th>
									<th class="view-th">套餐名称</th>
									<!-- <th class="view-th">curPlanId</th>
									<th class="view-th">curPlanName</th>
									<th class="view-th">nextPlanId</th>
									<th class="view-th">nextPlanName</th> -->
								</tr>
							</thead>
							<tbody id="tbody_userinfo"></tbody>
						</table>
						</div>
					</div>
					
					
					<div class="panel panel-success">
						<div class="panel-heading">
							<b>通话详单</b>
						</div>
						<div class="panel-body view-table-container pre-scrollable">
							<table class="table table-bordered table-hover table-striped view-table">
							<thead>
								<tr>
									<th class="view-th">序号</th>
									<th class="view-th">开始时间</th>
									<th class="view-th">开始年份</th>
									<th class="view-th">接打电话所在地</th>
									<th class="view-th">呼叫方式</th>
									<th class="view-th">呼叫电话号码</th>
									<th class="view-th">通话时长</th>
									<th class="view-th">通话方式</th>
									<th class="view-th">所使用套餐</th>
									<th class="view-th">通话费用</th>
									<th class="view-th">本机号码</th>
								</tr>
							</thead>
							<tbody id="tbody_usercall"></tbody>
						</table>
						</div>
					</div>
					
					
					<div class="panel panel-success">
						<div class="panel-heading">
							<b>短信详单</b>
						</div>
						<div class="panel-body view-table-container pre-scrollable">
							<table class="table table-bordered table-hover table-striped view-table">
							<thead>
								<tr>
									<th class="view-th">序号</th>
									<th class="view-th">发送对象号码</th>
									<th class="view-th">业务名称</th>
									<th class="view-th">产生费用</th>
									<th class="view-th">发送状态</th>
									<th class="view-th">发送地点</th>
									<th class="view-th">发送方式</th>
									<!-- <th class="view-th">meal</th> -->
									<th class="view-th">发送时间</th>
									<th class="view-th">发送年份</th>
									<!-- <th class="view-th">mobileNum</th> -->
								</tr>
							</thead>
							<tbody id="tbody_usersms"></tbody>
						</table>
						</div>
					</div>
					
					
					<div class="panel panel-success">
						<div class="panel-heading">
							<b>月账单</b>
						</div>
						<div class="panel-body view-table-container pre-scrollable">
							<table class="table table-bordered table-hover table-striped view-table">
							<thead>
								<tr>
									<th class="view-th">序号</th>
									<th class="view-th">所属月份</th>
									<th class="view-th">开始日期</th>
									<th class="view-th">结束日期</th>
									<th class="view-th">当月总消费金额</th>
								</tr>
							</thead>
							<tbody id="tbody_usercheck"></tbody>
						</table>
						</div>
					</div>
					
					<div class="panel panel-success">
						<div class="panel-heading">
							<b>缴费记录</b>
						</div>
						<div class="panel-body view-table-container pre-scrollable">
							<table class="table table-bordered table-hover table-striped view-table">
							<thead>
								<tr>
									<th class="view-th">序号</th>
									<th class="view-th">缴费频道</th>
									<th class="view-th">缴费日期</th>
									<th class="view-th">缴费金额</th>
									<th class="view-th">缴费类型</th>
									<th class="view-th">缴费类型名称</th>
								</tr>
							</thead>
							<tbody id="tbody_userpay"></tbody>
						</table>
						</div>
					</div>
					
				</div>
			</form>
		</div>
	</div>

	<!-- 模态弹出窗内容 -->
	<div class="modal" id="infoModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">提示</h4>
				</div>
				<div class="modal-body">
					<p id="infoText"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	
	<div th:include="components/footer :: footer"></div>

</body>
<script src="/js/apitest_cmcc.js"></script>
</html>