<table class="table table-bordered table-hover" th:fragment="backfield">
     <caption>返回正确data结果的字段说明对照表：</caption>
     <thead>
     <tr class="active">
         <th>返回值字段</th>
         <th>字段类型</th>
         <th>字段说明</th>
     </tr>
     </thead>
     <tbody>
     <tr>
         <td>id</td>
         <td>String</td>
         <td>唯一标识</td>
     </tr>
     <tr>
         <td>createtime</td>
         <td>datetime</td>
         <td>创建时间</td>
     </tr>
     <tr>
         <td>taskid</td>
         <td>String</td>
         <td>任务id</td>
     </tr>
     <tr>
         <td>phase</td>
         <td>String</td>
         <td>当前步骤</td>
     </tr>
     <tr>
         <td>phase_status</td>
         <td>String</td>
         <td>步骤状态</td>
     </tr>
     <tr>
         <td>cookies</td>
         <td>String</td>
         <td>浏览器缓存</td>
     </tr>
     <tr>
         <td>description</td>
         <td>String</td>
         <td>描述</td>
     </tr>
     <tr>
         <td>carrier</td>
         <td>String</td>
         <td>运营商</td>
     </tr>
     <tr>
         <td>phonenum</td>
         <td>String</td>
         <td>手机号</td>
     </tr>
     <tr>
         <td>finished</td>
         <td>Boolean</td>
         <td>爬虫任务是否全部完成</td>
     </tr>
     <tr>
         <td>error_code</td>
         <td>String</td>
         <td>错误代码</td>
     </tr>
     <tr>
         <td>error_message</td>
         <td>String</td>
         <td>错误信息</td>
     </tr>
     <tr>
         <td>basicUser</td>
         <td>Object</td>
         <td>用户基本信息</td>
     </tr>
     <tr>
         <td>updateTime</td>
         <td>datetime</td>
         <td>更新时间</td>
     </tr>
     <tr>
         <td>nexturl</td>
         <td>String</td>
         <td>下一步访问URL</td>
     </tr>
     <tr>
         <td>trianNum</td>
         <td>String</td>
         <td>登录失败重试次数</td>
     </tr>
     <tr>
     	<td>userMsgStatus</td>
     	<td>Integer</td>
     	<td>用户信息状态</td>
     </tr>
     <tr>
     	<td>accountMsgStatus</td>
     	<td>Integer</td>
     	<td>账户信息状态</td>
     </tr>
     <tr>
     	<td>callRecordStatus</td>
     	<td>Integer</td>
     	<td>通话详单状态</td>
     </tr>
     <tr>
     	<td>businessMsgStatus</td>
     	<td>Integer</td>
     	<td>业务信息状态</td>
     </tr>
     <tr>
     	<td>payMsgStatus</td>
     	<td>Integer</td>
     	<td>缴费信息状态</td>
     </tr>
     <tr>
     	<td>integralMsgStatus</td>
     	<td>Integer</td>
     	<td>积分信息状态</td>
     </tr>
     <tr>
     	<td>familyMsgStatus</td>
     	<td>Integer</td>
     	<td>亲情号信息状态</td>
     </tr>
     <tr>
     	<td>smsrecordStatus</td>
     	<td>Integer</td>
     	<td>短信记录状态</td>
     </tr>
     </tbody> 
</table> 