<table class="table table-bordered table-hover" th:fragment="ETLbackfield">
     <caption>返回正确数据结果的字段说明对照表：</caption>
     <thead>
     <tr class="active">
     	 <th>返回对象名称</th>
         <th>返回值字段</th>
         <th>字段类型</th>
         <th>字段说明</th>
     </tr>
     </thead>
     <tbody>
     <tr>
     	 <td>mobileUserInfo</td>
         <td>certificateType</td>
         <td>String</td>
         <td>证件类型</td>
     </tr>
      <tr>
     	 <td>mobileUserInfo</td>
         <td>certificateNumber</td>
         <td>String</td>
         <td>证件号码类型</td>
     </tr>
     <tr>
     	 <td>mobileUserInfo</td>
         <td>registerAddress</td>
         <td>String</td>
         <td>注册地址</td>
     </tr>
     <tr>
     	 <td>mobileUserInfo</td>
         <td>userName</td>
         <td>String</td>
         <td>用户姓名</td>
     </tr>
     <tr>
     	 <td>mobileUserInfo</td>
         <td>accoutBalance</td>
         <td>String</td>
         <td>账户余额</td>
     </tr>
     <tr>
     	 <td>mobileUserInfo</td>
         <td>telephoneNumber</td>
         <td>String</td>
         <td>电话号码</td>
     </tr>
     <tr>
     	 <td>mobileUserInfo</td>
         <td>carrieroperator</td>
         <td>String</td>
         <td>运营商</td>
     </tr>
     <tr>
     	 <td>mobileUserInfo</td>
         <td>ascriptionProvince</td>
         <td>String</td>
         <td>归属省份商</td>
     </tr>
     <tr>
     	 <td>mobileUserInfo</td>
         <td>ascriptionCity</td>
         <td>String</td>
         <td>归属城市</td>
     </tr>
     <tr>
     	 <td>mobileUserInfo</td>
         <td>userSex</td>
         <td>String</td>
         <td>用户性别</td>
     </tr>
     <tr>
     	 <td>mobileUserInfo</td>
         <td>userEmail</td>
         <td>String</td>
         <td>电子邮箱</td>
     </tr>
     <tr>
     	 <td>mobileAccountInfo</td>
         <td>accountStatus</td>
         <td>String</td>
         <td>账户状态</td>
     </tr>
     <tr>
     	 <td>mobileAccountInfo</td>
         <td>netInDate</td>
         <td>String</td>
         <td>入网日期</td>
     </tr>
     <tr>
     	 <td>mobileAccountInfo</td>
         <td>netInDuration</td>
         <td>String</td>
         <td>在网时间</td>
     </tr>
     <tr>
     	 <td>mobileAccountInfo</td>
         <td>realnameInfo</td>
         <td>String</td>
         <td>是否实名制</td>
     </tr>
     <tr>
     	 <td>mobileAccountInfo</td>
         <td>accountLevel</td>
         <td>String</td>
         <td>账户星级</td>
     </tr>
     <tr>
     	 <td>mobileAccountInfo</td>
         <td>levelEnddate</td>
         <td>String</td>
         <td>星级到期日</td>
     </tr>
     <tr>
     	 <td>mobileAccountInfo</td>
         <td>points</td>
         <td>String</td>
         <td>积分</td>
     </tr>
     <tr>
     	 <td>mobileAccountInfo</td>
         <td>accountFrozenBalance</td>
         <td>String</td>
         <td>账户冻结余额</td>
     </tr>
     <tr>
     	 <td>mobileBillInfoMonth</td>
         <td>communicationPeriod</td>
         <td>String</td>
         <td>月份</td>
     </tr>
     <tr>
     	 <td>mobileBillInfoMonth</td>
         <td>monthCost</td>
         <td>String</td>
         <td>当月花费</td>
     </tr>
     <tr>
     	 <td>mobileBillInfoMonth</td>
         <td>voiceCost</td>
         <td>String</td>
         <td>语音花费</td>
     </tr>
     <tr>
     	 <td>mobileBillInfoMonth</td>
         <td>smsCost</td>
         <td>String</td>
         <td>短息及彩信花费</td>
     </tr>
     <tr>
     	 <td>mobileBillInfoMonth</td>
         <td>flowCost</td>
         <td>String</td>
         <td>流量花费</td>
     </tr>
     <tr>
     	 <td>mobileBillInfoMonth</td>
         <td>penalty</td>
         <td>String</td>
         <td>违约金</td>
     </tr>
     <tr>
     	 <td>mobileBusinessInfo</td>
         <td>brand</td>
         <td>String</td>
         <td>品牌名称</td>
     </tr>
     <tr>
     	 <td>mobileBusinessInfo</td>
         <td>businessName</td>
         <td>String</td>
         <td>业务名称</td>
     </tr>
     <tr>
     	 <td>mobileBusinessInfo</td>
         <td>businessFee</td>
         <td>String</td>
         <td>业务花费</td>
     </tr>
     <tr>
     	 <td>mobileBusinessInfo</td>
         <td>feeDuration</td>
         <td>String</td>
         <td>费用周期</td>
     </tr>
     <tr>
     	 <td>mobileBusinessInfo</td>
         <td>effectTime</td>
         <td>String</td>
         <td>生效日期</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordDetail</td>
         <td>communicationType</td>
         <td>String</td>
         <td>通话类型</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordDetail</td>
         <td>callDuration</td>
         <td>String</td>
         <td>通话时长</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordDetail</td>
         <td>callTime</td>
         <td>String</td>
         <td>通话时间</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordDetail</td>
         <td>callLocation</td>
         <td>String</td>
         <td>通话地</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordDetail</td>
         <td>oppositeNumber</td>
         <td>String</td>
         <td>对方号码</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordDetail</td>
         <td>callType</td>
         <td>String</td>
         <td>呼叫类型</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordDetail</td>
         <td>callFee</td>
         <td>String</td>
         <td>通话费用</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordStatistics</td>
         <td>communicationPeriod</td>
         <td>String</td>
         <td>通话周期</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordStatistics</td>
         <td>costSum</td>
         <td>String</td>
         <td>通话总花费</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordStatistics</td>
         <td>localCost</td>
         <td>String</td>
         <td>本地通话花费</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordStatistics</td>
         <td>roamingCost</td>
         <td>String</td>
         <td>漫游花费</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordStatistics</td>
         <td>longDistanceCost</td>
         <td>String</td>
         <td>长途费</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordStatistics</td>
         <td>offMainlandLongDistanceCost</td>
         <td>String</td>
         <td>非大陆地区长途费</td>
     </tr>
     <tr>
     	 <td>mobileCallRecordStatistics</td>
         <td>offMainlandRoamingCost</td>
         <td>String</td>
         <td>非大陆地区漫游费</td>
     </tr>
     <tr>
     	 <td>mobileFamilyNetInfo</td>
         <td>familyNetName</td>
         <td>String</td>
         <td>家庭子网名称</td>
     </tr>
     <tr>
     	 <td>mobileFamilyNetInfo</td>
         <td>familyNetNumber</td>
         <td>String</td>
         <td>家庭子网号码</td>
     </tr>
     <tr>
     	 <td>mobileGroupNetInfo</td>
         <td>groupNetName</td>
         <td>String</td>
         <td>集团网名称</td>
     </tr>
      <tr>
     	 <td>mobileGroupNetInfo</td>
         <td>groupNetNumber</td>
         <td>String</td>
         <td>集团网号码</td>
     </tr>
     <tr>
     	 <td>mobilePaymentInfo</td>
         <td>payDate</td>
         <td>String</td>
         <td>缴费日期</td>
     </tr>
     <tr>
     	 <td>mobilePaymentInfo</td>
         <td>payFee</td>
         <td>String</td>
         <td>缴费金额</td>
     </tr>
     <tr>
     	 <td>mobilePaymentInfo</td>
         <td>payMode</td>
         <td>String</td>
         <td>缴费渠道</td>
     </tr>
     <tr>
     	 <td>mobilePaymentInfo</td>
         <td>payWay</td>
         <td>String</td>
         <td>缴费方式</td>
     </tr>
     <tr>
     	 <td>mobilePointsInfo</td>
         <td>pointsTime</td>
         <td>String</td>
         <td>积分时间</td>
     </tr>
     <tr>
     	 <td>mobilePointsInfo</td>
         <td>points</td>
         <td>String</td>
         <td>可用积分</td>
     </tr>
     <tr>
     	 <td>mobileRelationshipInfo</td>
         <td>memberNumber</td>
         <td>String</td>
         <td>成员号码</td>
     </tr>
     <tr>
     	 <td>mobileRelationshipInfo</td>
         <td>menberShortnumber</td>
         <td>String</td>
         <td>短号码</td>
     </tr>
     <tr>
     	 <td>mobileRelationshipInfo</td>
         <td>menberType</td>
         <td>String</td>
         <td>成员类型</td>
     </tr>
     <tr>
     	 <td>mobileSmsRecordDetail</td>
         <td>sendTime</td>
         <td>String</td>
         <td>发送时间</td>
     </tr>
     <tr>
     	 <td>mobileSmsRecordDetail</td>
         <td>smsStatus</td>
         <td>String</td>
         <td>短信状态</td>
     </tr>
     <tr>
     	 <td>mobileSmsRecordDetail</td>
         <td>oppositeNumber</td>
         <td>String</td>
         <td>对方号码</td>
     </tr>
     <tr>
     	 <td>mobileSmsRecordDetail</td>
         <td>smsType</td>
         <td>String</td>
         <td>短信类型</td>
     </tr>
     <tr>
     	 <td>mobileSmsRecordDetail</td>
         <td>smsArea</td>
         <td>String</td>
         <td>短信地区</td>
     </tr>
     
     </tbody> 
</table> 