<header th:fragment="header"> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>强授权数据管理平台</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link th:href="@{/bookstrap/v3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/bookstrap/v3.3.7/css/dashboard.css}" rel="stylesheet" />
	<link th:href="@{/css/common02.css}" rel="stylesheet" />
	<link th:href="@{/css/apitest.css}" rel="stylesheet" />
	<link th:href="@{/css/top.css}" rel="stylesheet" />
</header>